[Unit]
Description=Pi-Rescue Wi-Fi Recovery Service
After=NetworkManager.service
Wants=NetworkManager.service

[Service] 
Type=simple 
User=your_name
ExecStart=/usr/bin/python3 /project/path/to/Pi-Rescue/rescue_wifi.py
Restart=on-failure
RestartSec=5
 
[Install]
WantedBy=multi-user.target
